.box{
  min-width: 100%;
  position: absolute;
  overflow: hidden;
}
.navbar{
  border-radius: 0rem .5rem .5rem 0rem;
  background: #133c55;
  height: 100%;
  width: 18%;
  padding: 3% 0;
  box-sizing: border-box;
  position: fixed;
}
.EventPageBox{
  max-width: 100%;
  margin-left: 18%;
  height: 100%;
}
.EventPageBox h2, h4 {
  padding-left: 20px;
  margin-left: 10%;
}
.EventPage h2 {
  font-size: 35px;
}
.EventPage h4 {
  font-family: Gilroy;
  font-size: 20px;
}
.fleidImg {
  min-width: 100%;
  margin-left: -.5% ;
  max-height: 400px;
}
.In-person_event {
  max-width: 100%;
}
.Details {
  color: var(--new-text-color, #133c55);
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: #eef6fb;
  min-width: 50%;
  padding: 20px 0 20px 20px;
  margin-left: 10%;
  padding-right: 1px;
}
.Details span {
  display: flex;
  align-items: center;
  gap: 17px;
  flex-wrap: wrap;
}
.Tags p {
  display: inline-flex;
  padding: 8px 20px;
  align-items: flex-start;
  border-radius: 10px;
  background: #fff;
  margin: 0;
}
.About {
  border-radius: 10px;
  background: #eef6fb;
  height: 363px;
  padding: 20px 0 20px 20px;
  margin-top: 30px;
  margin-left: 10%;
  max-width: 60%;
}
.About p {
  height: 111px;
  color: var(--new-text-color, #133c55);
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
}
.About span {
  display: inline-flex;
  padding: 8px 20px 8px 10px;
  align-items: flex-start;
  gap: 10px;
  align-items: center;
}
.About h2{
  padding-left: 0;
}
.Tickets {
  border-radius: 10px;
  background: #eef6fb;
  min-width: 30%;
  height: 610px;
  padding: 20px 0 20px 20px;
  margin-right: 15px;
}
.Tickets h5 {
  color: var(--new-text-color, #133c55);
  font-family: Gilroy;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  border-radius: 10px;
  background: #deeef7;
  padding: 8px 20px;
  max-width: 80%;
}
.Tickets button {
  justify-content: center;
  min-width: 80%;
  gap: 10px;
  border-radius: 10px;
  border-style: none;
  background: #deeef7;
  margin-top: 5px;
  padding: 10px;
}
.Quantities {
  max-width: 85%;
  height: 188px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #deeef7;
  padding-left: 20px;
  padding-top: 10px;
}
.Quantities p {
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.Quantities input {
  border-style: none;
  border-radius: 10px;
}
.In-person_event {
  display: flex;
  gap: 20px;
}

@media (max-width: 878px) {
  .box{
    max-width: 100%;
  }
  .Details{
    height: auto;
    margin-left: 0%;
    padding-right: 10px;
    min-width: auto;
  padding: 20px 0 20px 20px;
  padding-right: 1px;
  overflow-wrap: break-word;
  }
  .In-person_event {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
  .Tickets{
    min-width: 100%;
    margin-top: 20px;
  }
  .Tickets h5{
    max-width: 87%;
  }
  .About {
    max-width: 100%;
    margin-left: 0%;
  }
  .About h3{
    padding-top: inherit;
  } 
}
@media (max-width: 500px){
  .fleidImg{
    height: 100px;
    margin-left: -.5%;
  }
}